.arrow-down {
  position: absolute;
  bottom: 3%;
  left: 49%;
  font-size: 0;
  &:before {
    content: url(../assets/img/seta.svg);
  }
}

.main {
  h2 {
    font-weight: 500;
    text-align: center;
    font-size: 1.25rem;
    max-width: 70%;

    span {
      color: var(--azul);
    }
  }
}

#sobre {
  h1 {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 90px;
  }
  @media screen and (min-width: 768px) {
    .foto {
      top: -192px;
    }
  }
}

.botao-azul {
  color: #fff;
  background: var(--azul);
  font-weight: 500;
  border-radius: 40px;
  margin: 30px auto 2rem;
  text-align: center;
  padding: 8px 22px;
  font-size: 14px;
  border: 2px solid var(--azul);
  transition: 0.3s all ease;
  display: table;

  &.botao-input {
    padding: 8px 22px;
    margin-top: -10px;
  }

  &:hover {
    color: var(--azul);
    text-decoration: none;
    background: #fff;
  }
}
.foto {
  width: 100%;
  position: relative;
}

.titulo-apresentacao {
  padding: 48px 20px 48px 40px;
  margin-bottom: 0;
}

.texto-fundo-preto {
  color: #ccc;
  font-weight: 300;
  margin-bottom: 25px;
}

.paragrafo-direita {
  padding: 40px 4px 40px 40px;
}

.container-preto {
  h3 {
    font-size: 30px;
    font-weight: 600;
  }

  &#trabalhos {
    padding-bottom: 170px;
  }
}

.link-trabalho {
  color: #fff;
  transition: 0.3s all ease;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &:after {
    content: url(../assets/img/arrow-right.svg);
    margin-left: 15px;
    position: relative;
    left: 0;
    transition: 0.3s all ease;
  }

  &:hover:after {
    left: 15px;
  }
}

.saiba-mais {
  margin-left: 40px;
}

.trabalho {
  margin-bottom: 30px;
  width: 100%;

  img {
    width: 100%;
  }
}
