#trabalhos {
  .container-preto {
    padding-bottom: 170px;
  }
}

h2.titulo {
  text-align: center;
}

.link-trabalho {
  color: #fff;
  transition: 0.3s all ease;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &:after {
    content: url(../assets/img/arrow-right.svg);
    margin-left: 15px;
    position: relative;
    left: 0;
    transition: 0.3s all ease;
  }

  &:hover:after {
    left: 15px;
  }
}

.companies {
  display: flex;
  margin-bottom: 7rem;
  list-style: none;
}

.saiba-mais {
  margin-left: 40px;
}

.trabalho {
  margin-bottom: 30px;
  width: 100%;

  img {
    width: 100%;
  }
}

.container-contato {
  max-width: 1300px;
  margin: auto;
}

.sobre {
  &.container {
    margin-top: 100px;
  }

  .foto-sobre {
    img {
      float: left;
      width: 80%;
    }
  }
}

.texto-fundo-branco {
  font-weight: 300;
  display: block;
  margin: 0 0 30px;
}

.texto-fundo-preto {
  color: #ccc;
  font-weight: 300;
  margin-bottom: 15px;
}

.formacao,
.experiencia,
.apresentacao {
  margin-bottom: 50px;
}

.experiencia,
.formacao {
  h4 {
    color: var(--blue);
    font-size: 18px;
    font-weight: 700;
  }
}

@media screen and (max-width: 767px) {
  .companies {
    margin-bottom: 2rem;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    img {
      width: auto;
      max-width: 200px;
    }
  }
}
